
\.DS_Store

Conjuntos de Datos/

*.zip

P1/PDF/Imagenes/

*.tex

P1/PDF/Portada/

*.png

P2/Marketing/

*.odt

P3/Pathfinder/

P3/RandomNets2014/

P3/cienciogramas/

P3/results/

P3/Tablas\.ods

P3/P3\.sh

P3/plot\.sh
