
\.DS_Store

P1/OlivaTorralb_Hybrid_Siggraph06\.pdf

P1/PDF/Imagenes/

P1/PDF/P1\.tex

P1/PDF/Portada/

P2/\.idea/

P2/__pycache__/

Cuestionarios/C1/Imagenes/

Cuestionarios/C1/Portada/

Cuestionarios/C1/C1\.tex

P2/PDF/Imagenes/

P2/PDF/Portada/

P2/PDF/P2\.tex

P3/\.idea/

P3/__pycache__/
