<launch>
    <param name="/use_sim_time" value="true" />

    <!-- Launch turtle bot world -->
    <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch"/>

    <!-- Launch stopper node -->
    <node name="stopper" pkg="random_walk" type="stopper" output="screen"/>

    <param name="MIN_DIST_FROM_OBSTACLE" type="double" value="0.8" />

    <!-- <include file="$(find turtlebot_rviz_launchers)/launch/view_robot.launch"/> -->
</launch>
